ellipse()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

multipleEllipse($line)
  overflow hidden
  text-overflow hidden
  display -webkit-box
  -webkit-line-clamp $line
  -webkit-box-orient vertical
