// 基本样式入口
html
  -webkit-tap-hightlight-color transparent // 移动端点击链接或Javascript可点击元素的时候

body
  margin 0

a
  text-decoration none

a,input,button,textarea
  &:focus
    outline none

ol,ul
  margin 0
  padding 0
  list-style none

input,button,textarea
  font inherit




